$primary:          #028E9B;
$primaryDark:      #1E6D74;
$primaryDarker:    #015C65;
$primaryLight:     #35C0CD;
$primaryLighter:   #5EC4CD;

$secondary:        #FFAD00;
$secondaryDark:    #BF9130;
$secondaryDarker:  #A67000;
$secondaryLight:   #FFC140;
$secondaryLighter: #FFD273;

$tertiary:         #FF0D00;
$tertiaryDark:     #BF3730;
$tertiaryDarker:   #A60800;
$tertiaryLight:    #FF4940;
$tertiaryLighter:  #FF7A73;

$subtleGray:       #EFEFEF;